#sun {
    stroke: #000;
    fill: #000;
}

.orbit {
    stroke: transparent;
    fill: transparent;
}

.planet {
    stroke: #666;
    fill: #fff;
}

.Planet_Text {
    fill: #fff;
    font-size: 12px;
}

.Planet_degree {
    fill: #dcd427;
    font-size: 12px;
}

.moon {
    stroke: #ccc;
    fill: #fff;
}

.monthText {
    fill: #fff;
    font-size: 13px;
}

.naksText {
    fill: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    pointer-events: none;
}

.planet_cluster {
    pointer-events: none;
}

#play-button {
    position: absolute;
    top: 140px;
    left: 50px;
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
}

#play-button:hover {
    background-color: #696969;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}